.framed {
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px dashed black;
}

.bare {
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
  border: 0px;
}

.nowrap {
  white-space: nowrap;
}