.framed {
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px dashed black;
}

.bare {
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
  border: 0px;
}

.nowrap {
  white-space: nowrap;
}

footer.site-footer {
  display: none;
}

.main {
  max-width: 60rem !important;
}

img {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.75);
  margin-top: 10px;
}

code {
  font-size: 14px !important;
}

p {
  text-align: start;
}

h1 {
  margin-bottom: 0.5em !important;
}

h4 {
  font-weight: bold !important;
}